<% content_for :title, "Editing subcategory" %>

<h1>Editing subcategory</h1>

<%= render "form", admin_subcategory: @admin_subcategory %>

<br>

<div>
  <%= link_to "Show this subcategory", @admin_subcategory %> |
  <%= link_to "Back to subcategories", admin_subcategories_path %>
</div>
