<p style="color: green"><%= notice %></p>

<% content_for :title, "Addresses" %>

<h1>Addresses</h1>

<div id="usermodule_addresses">
  <% @usermodule_addresses.each do |usermodule_address| %>
    <%= render usermodule_address %>
    <p>
      <%= link_to "Show this address", usermodule_address_path(usermodule_address) %>
    </p>
  <% end %>
</div>

<%= link_to "New address", new_usermodule_address_path %>
